.border{
    padding: 3px;
    border: 5px solid red;
    width: 350px;
    box-shadow: 10px 10px 10px lightpink;
}

.animal-Name-Style{
    border: 2px solid yellowgreen;
    border-radius: 20%;
    text-align: center;
}

.underLine{
    border-top: 2px solid black;
}

.animal-Img{
    width: 300px;
    display: block;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid yellow;
}

.animal-Info-Style{
    padding: 3px;
    border: 3px solid green;
}

.animal-Fact{
    font-style: italic;
    text-align: center;
}

.animal-Item-List{
    list-style: none;
}

span{
    font-weight: bold;
}
